.app-header-user-reset-password-submit-input{
  width: 100%;
}

.app-header-user-reset-password .ant-form-item-control{
  height: 40px;
}

.app-header-user-reset-password-captcha{
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
}