.app-content-trip-detail-detail{
  border: 1px solid #ebebeb;
  margin-bottom: 40px;
  padding: 40px;
}

.app-content-trip-detail-detail-feature{
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 795px;
}

.app-content-trip-detail-detail-feature-each{
  float: left;
  padding: 40px 10px 0;
  box-sizing: content-box;
  height: 21px;
  line-height: 21px;
  padding-top: 40px;
  margin-right: 60px;
  background-repeat: no-repeat;
  background-position: center 0;
  margin-bottom: 30px;
}

.app-content-trip-detail-detail-feature-wifi{
  background-image: url('http://localhost:8000/public/image/tripDetail/icon/ico-wifi.png');
  background-size: 36px auto;
}

.app-content-trip-detail-detail-feature-nitrox{
  background-image: url('http://localhost:8000/public/image/tripDetail/icon/ico-nitrox.png');
  background-size: 32px auto;
}

.app-content-trip-detail-detail-feature-ac{
  background-image: url('http://localhost:8000/public/image/tripDetail/icon/ico-ac2.png');
  background-size: 41px auto;
}

.app-content-trip-detail-detail-feature-luxury{
  background-image: url('http://localhost:8000/public/image/tripDetail/icon/ico-luxury.png');
  background-size: 32px auto;
}

.app-content-trip-detail-detail-feature-size{
  background-image: url('http://localhost:8000/public/image/tripDetail/icon/ico-size.png');
  background-size: 53px auto;
}

.app-content-trip-detail-detail-feature-guest{
  background-image: url('http://localhost:8000/public/image/tripDetail/icon/ico-guest.png');
  background-size: 38px auto;
}

.app-content-trip-detail-detail-feature-icon{
  display: none;
  width: 100%;
  height: 30px;
}

.app-content-trip-detail-detail-feature-name{
  width: 100%;
  display: block;
}

.app-content-trip-detail-detail-about-title{
  padding-bottom: 10px;
  color: #757575;
  font-size: 16px;
}

.app-content-trip-detail-detail-about-content{
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}