.app-content-equipment-appointment{
  overflow: hidden;
  margin: 0 auto;
  padding: 50px 0 0;
  width: 1150px;
}

.app-content-equipment-appointment-titleFrame{
  display: none;
  justify-content: space-between;  
  padding: 30px 0 15px;
  height: 75px;
}

/* .app-content-equipment-appointment-titleFrame-name{
  font-size: 20px;
  font-weight: 400;  
  line-height: 30px;
  color: rgb(66, 68, 69);
}

.app-content-equipment-appointment-titleFrame-priceDetail{
  font-size: 20px;
  line-height: 30px;
} */

.app-content-equipment-appointment-purchase{
  overflow: hidden;
}

.app-content-equipment-appointment-purchase-img{
  float: left;
  margin-right: 50px;  
  width: 450px;
}

.app-content-equipment-appointment-purchase-img-displayFrame{
  overflow: hidden;
  width: 450px;
  height: 450px;
}

.app-content-equipment-appointment-purchase-img-displayFrame-content{
  width: 450px;
  height: 450px;
  border: 1px solid rgb(238, 238, 238);
  transition: all 500ms;
}

.app-content-equipment-appointment-purchase-img-displayFrame-content:hover{
  transform: scale(1.1);
}

.app-content-equipment-appointment-purchase-img-chooseFrame{
  display: flex;
  justify-content: center;
  overflow: hidden;
  list-style: none;
  padding: 22px 0 0;
}

.app-content-equipment-appointment-purchase-img-chooseFrame-each{
  width: 64px;
  height: 64px;
  margin-left: 18px;
}

.app-content-equipment-appointment-purchase-img-chooseFrame-each:nth-of-type(1){
  margin-left: 0;
}

.app-content-equipment-appointment-purchase-img-chooseFrame-each-image{
  width: 64px;
  height: 64px;
  border: 1px solid transparent;
  transition: all 500ms;
  cursor: pointer;
}

.app-content-equipment-appointment-purchase-img-chooseFrame-each-image:hover{
  border: 1px solid rgba(0, 0, 0, 0.3)
}

.app-content-equipment-appointment-purchase-synopsis{
  float: left;
  width: 650px;
}

.app-content-equipment-appointment-purchase-synopsis-name{
  padding: 10px 0 5px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 30px;
  color: rgb(102, 102, 102);
}

.app-content-equipment-appointment-purchase-synopsis-feature{
  font-size: 14px;
  line-height: 20px;
  color: rgb(228, 57, 60);
}

.app-content-equipment-appointment-purchase-synopsis-postage{
  display: flex;
}

.app-content-equipment-appointment-purchase-synopsis-postage-title{
  width: 50px;
  color: #999;
  font-size: 14px;
}

.app-content-equipment-appointment-purchase-synopsis-postage-content{
  color: #666;
  font-size: 14px;
}

.app-content-equipment-appointment-purchase-synopsis-size,.app-content-equipment-appointment-purchase-synopsis-color{
  display: flex;  
}

.app-content-equipment-appointment-purchase-synopsis-size-title,.app-content-equipment-appointment-purchase-synopsis-color-title{
  width: 50px;
  height: 40px;
  line-height: 40px;
  color: #999;
  font-size: 14px;
}

.app-content-equipment-appointment-purchase-synopsis-size-content,.app-content-equipment-appointment-purchase-synopsis-color-content{
  color: #666;
  font-size: 14px;
}
.app-content-equipment-appointment-purchase-synopsis-size .ant-form-item, .app-content-equipment-appointment-purchase-synopsis-color .ant-form-item{
  margin-bottom: 0;
}