.app-content-equipment-appointment{
  overflow: hidden;
  margin: 0 auto;
  padding: 50px 0 0;
  width: 1150px;
}

.app-content-equipment-appointment-purchase{
  overflow: hidden;
}

.app-content-equipment-appointment-purchase-img{
  float: left;
  margin-right: 50px;  
  width: 450px;
}

.app-content-equipment-appointment-purchase-img-displayFrame{
  overflow: hidden;
  width: 450px;
  height: 450px;
}

.app-content-equipment-appointment-purchase-img-displayFrame-content{
  width: 450px;
  height: 450px;
  border: 1px solid rgb(238, 238, 238);
  transition: all 500ms;
}

.app-content-equipment-appointment-purchase-img-displayFrame-content:hover{
  transform: scale(1.1);
}

.app-content-equipment-appointment-purchase-img-chooseFrame{
  display: flex;
  justify-content: center;
  overflow: hidden;
  list-style: none;
  padding: 22px 0 0;
}

.app-content-equipment-appointment-purchase-img-chooseFrame-each{
  width: 64px;
  height: 64px;
  margin-left: 18px;
}

.app-content-equipment-appointment-purchase-img-chooseFrame-each:nth-of-type(1){
  margin-left: 0;
}

.app-content-equipment-appointment-purchase-img-chooseFrame-each-image{
  width: 64px;
  height: 64px;
  transition: all 500ms;
  cursor: pointer;
}

.app-content-equipment-appointment-purchase-synopsis{
  float: left;
  width: 650px;
}

.app-content-equipment-appointment-purchase-synopsis-name{
  padding: 10px 0 5px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 30px;
  color: rgb(102, 102, 102);
}

.app-content-equipment-appointment-purchase-synopsis-feature{
  font-size: 14px;
  line-height: 20px;
  color: rgb(228, 57, 60);
}

.app-content-equipment-appointment-purchase-synopsis-postage{
  display: flex;
}

.app-content-equipment-appointment-purchase-synopsis-postage-title{
  width: 100px;
  color: #999;
  font-size: 14px;
}

.app-content-equipment-appointment-purchase-synopsis-postage-content{
  color: #666;
  font-size: 14px;
}

.app-content-equipment-appointment-purchase-synopsis-price{
  display: flex;
}

.app-content-equipment-appointment-purchase-synopsis-price-title{
  width: 100px;
  color: #999;
  font-size: 14px;
}

.app-content-equipment-appointment-purchase-synopsis-price-content{
  color: rgb(228, 57, 60);
  font-size: 14px;
}

.app-content-equipment-appointment-purchase-synopsis-size,.app-content-equipment-appointment-purchase-synopsis-color,.app-content-equipment-appointment-purchase-synopsis-number{
  display: flex;  
}

.app-content-equipment-appointment-purchase-synopsis-size-title,.app-content-equipment-appointment-purchase-synopsis-color-title, .app-content-equipment-appointment-purchase-synopsis-number-title{
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: #999;
  font-size: 14px;
}

.app-content-equipment-appointment-purchase-synopsis-size-content,.app-content-equipment-appointment-purchase-synopsis-color-content, .app-content-equipment-appointment-purchase-synopsis-number-content{
  color: #666;
  font-size: 14px;
}
.app-content-equipment-appointment-purchase-synopsis-size .ant-form-item, .app-content-equipment-appointment-purchase-synopsis-color .ant-form-item, .app-content-equipment-appointment-purchase-synopsis-number .ant-form-item{
  margin-bottom: 0;
}

.app-content-equipment-appointment-purchase-synopsis-buyButton{
  margin-top: 10px;
  width: 150px;
  height: 40px;
}

.app-content-equipment-appointment-purchase-synopsis-delivery{
  display: flex;
  margin: 0;
}

.app-content-equipment-appointment-purchase-synopsis-delivery-title{
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: #999;
  font-size: 14px;
}

.app-content-equipment-appointment-purchase-synopsis-delivery-content{
  color: #666;
  font-size: 14px;
}

.app-content-equipment-appointment-purchase-synopsis-delivery-button{
  margin-top: 5px;
}

.app-content-equipment-appointment-purchase-synopsis-delivery-modal .ant-modal{
  width: 815px !important;
}

.app-content-equipment-appointment-purchase-synopsis-delivery-modal .ant-modal-body{
  padding: 0;
}

.app-content-equipment-appointment-purchase-synopsis-delivery-modal .ant-modal-footer{
  border-top: none;
}

.app-content-equipment-appointment-purchase-synopsis-delivery-detail{
  display: flex;
  margin: 0;
}

.app-content-equipment-appointment-purchase-synopsis-delivery-detail-title{
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: #999;
  font-size: 14px;
}

.app-content-equipment-appointment-purchase-synopsis-delivery-detail-content{
  color: #666;
  font-size: 14px;
  line-height: 40px;
}