@font-face {
  font-family: 'iconfont';  /* project id 490574 */
  src: url('//at.alicdn.com/t/font_490574_fft2i0oa6p0t3xr.eot');
  src: url('//at.alicdn.com/t/font_490574_fft2i0oa6p0t3xr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_490574_fft2i0oa6p0t3xr.woff') format('woff'),
  url('//at.alicdn.com/t/font_490574_fft2i0oa6p0t3xr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_490574_fft2i0oa6p0t3xr.svg#iconfont') format('svg');
}

/* 没用 */
.anticon-menuTrigger:before{
  font-family:iconfont !important;
  content:"\e67b";
}

.anticon-equipment:before{
  font-family:iconfont !important;
  content:"\e61a"
}

.anticon-trip:before{
  font-family:iconfont !important;
  content:"\e616"
}

.anticon-course:before{
  font-family:iconfont !important;
  content:"\e613"
}

.anticon-practice:before{
  font-family:iconfont !important;
  content:"\e635"
}

.anticon-detail:before{
  font-family:iconfont !important;
  content:"\e649"
}

.anticon-appointment:before{
  font-family:iconfont !important;
  content:"\e6e2"
}

.ant-layout{
  height: 100%;
}

.ant-layout-content{
  flex: 1 1;
  background-color: white;
}